/vendor/
/.phpunit.cache/
/.phpunit.result.cache
/composer.lock
/.idea/
/.vscode/
.env
/.superpowers/
/node_modules/
/playwright-report/
/test-results/
/workbench/.env
/workbench/database/*.sqlite
/workbench/storage/
/workbench/vendor
